@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Lexend+Peta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: -webkit-linear-gradient(360deg, #a6c9ae 40%, #cce0d1 60%);
  background-size: cover;
}

.home_container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: center;
  align-items: center;
}

.title_container {
  border: 1px solid black;
}

.title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #737373;
  font-family: "Lexend Peta", sans-serif;
  border-bottom: 4px solid #737373;
  padding: 0 0.5em 0.2em 0.5em;
}

.fadeIn {
  animation: fadein 1.5s;
  transition-timing-function: ease-in;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
