@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Lexend+Peta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title_container {
  border: 1px solid black;
}
.title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #737373;
  font-family: "Lexend Peta", sans-serif;
  border-bottom: 4px solid #737373;
  padding: 0 0.5em 0.2em 0.5em;
}
